html {
	background-color: orange;
}
h1 {
	color: red;
}
h2 {
	color: white;
}
h3 {
	color: green;
}
p {
	color: red;
	border: 2px dotted #65a7d2;
	height: 50px;	
}
li {
	color: red;
}
section {
	color: red;
}
table {
	color: green;
}
.special {
	background-color: #65a7d2;
	border: 3px dotted white;
	height: 20px;
	color: white;
}
#article {
	background-color: white;
}
.specialS {
	background-color: #FFBF31
}
.FunnyMoney {
	background-color: #53DO47